.root {
  background-color: #fafafa;
  min-height: 100vh;
  display: flex;
  justify-content: center;
}

.wrapper {
  padding-top: 100px;
}

.title {
  margin: 0;
}

.answer-wrapper {
  display: flex;
}

.button-area {
  margin-left: 20px;
}

/* modal-component */
.modal-component-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  width: 100%;
}

.modal-component-background {
  min-height: 100vh;
  width: 100%;
  background-color: #000000;
  opacity: 0.7;
}

.modal-component {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #ffffff;
  padding: 20px;
  border-radius: 3px;
}

.modal-component-title {
  margin-top: 0;
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: solid 1px #dcdcdc;
}

.modal-component-result.incorrect {
  color: red;
}

.modal-component dd {
  margin-left: 20px;
  margin-bottom: 20px;
  font-weight: bold;
}

.modal-component-button-area {
  margin-top: 20px;
  padding-top: 20px;
  border-top: solid 1px #dcdcdc;
  text-align: center;
}

/* button-component */
